.messageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  
  background-color: #f0f0f0;
  border-radius: 8px;
}

.bot {
  align-items: flex-start;
}

.user {
  align-self: flex-end;
  width: 60%
}

.text {
  padding: 10px;
  max-width: 60%;
}

.graph {
  margin-top: 10px;
}

.alignLeft {
  align-self: flex-start;
}

.alignRight {
  align-self: flex-end;
}
